.capitalize {
  text-transform: capitalize;
}

.col {
  margin: 0;
}

.col:first-child {
  padding-left: 0;
}

.col:last-child {
  padding-right: 0;
}

.col:first-child label {
  left: 0;
}

#edit-mode {
  display: none;
}

#certificate {
  align-items: center;
  background: #fff;
  bottom: 0;
  display: none;
  font-family: serif;
  justify-content: center;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1005;
}

#certificate-actions {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#certificate-content {
  display: table;
  font-size: 54px;
}

#certificate-content h1 {
  font-size: 1em;
  margin: 0 0 0.333em 0;
}

#certificate-content h2 {
  font-size: 0.444em;
  line-height: 1.4;
  margin: 0 0 0.444em 0;
}

#certificate-id {
  bottom: 20px;
  font-size: 10px;
  left: 20px;
  position: absolute;
}

#certificate-datum, #certificate-pastor, #certificate-text {
  font-size: 0.333em;
  margin: 0;
}

#certificate-datum {
  padding-right: 10px;
}

#certificate-pastor {
  padding-left: 10px;
}

#certificate-text {
  line-height: 2;
}

#create-mode {
  display: none;
  text-align: right;
}

#form-view {
  display: none;
  padding: 20px 40px;
}
