<template>
  <div id="form__baptism" class="tab-pane fade" role="tabpanel">
    <div class="form-group">
      <input type="date" class="form-control sacrament" data-display="Baptism" name="baptism_date" placeholder="Baptism Date" title="Baptism Date">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="baptism_church" placeholder="Baptism Church">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="baptism_godfather" placeholder="Godfather">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="baptism_proxy_godfather" placeholder="Proxy Godfather">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="baptism_godmother" placeholder="Godmother">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="baptism_proxy_godmother" placeholder="Proxy Godmother">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="baptism_christian_witness" placeholder="Christian Witness">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="baptism_presider" placeholder="Presider">
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" name="baptism_volume" placeholder="Volume">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" name="baptism_page" placeholder="Section">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" name="baptism_number" placeholder="Line">
        </div>
      </div>
    </div>
  </div>
</template>
