<template>
  <div id="form__confirmation" class="tab-pane" role="tabpanel">
    <div class="form-group">
      <input type="date" class="form-control" placeholder="Confirmation Date" title="Confirmation Date">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Confirmation Church">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Presider">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Sponsor">
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" placeholder="Volume">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" placeholder="Section">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" placeholder="Line">
        </div>
      </div>
    </div>
  </div>
</template>
