<template>
  <div id="form__confirmation" class="tab-pane fade" role="tabpanel">
    <div class="form-group">
      <input type="date" class="form-control sacrament" data-display="Confirmation" name="confirmation_date" placeholder="Confirmation Date" title="Confirmation Date">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="confirmation_church" placeholder="Confirmation Church">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="confirmation_name" placeholder="Confirmation Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="confirmation_presider" placeholder="Presider">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="confirmation_sponsor" placeholder="Sponsor">
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" name="confirmation_volume" placeholder="Volume">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" name="confirmation_page" placeholder="Section">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" name="confirmation_number" placeholder="Line">
        </div>
      </div>
    </div>
  </div>
</template>
