<template>
  <section id="form">
    <style>
      li.nav-item {
        padding: 0;
      }
      #form__options .material-icons {
        font-size: 1.2rem;
      }
      #form__list-certificates-button,
      #form__update-button {
        display: none;
      }
      #form__options.edit #form__create-button {
        display: none;
      }
      #form__options.edit #form__list-certificates-button,
      #form__options.edit #form__update-button {
        display: inline-block;
      }
    </style>
    <ul class="nav nav-fill nav-pills" style="margin-bottom: 1rem">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#form__profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#form__baptism">Baptism</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#form__communion">Communion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#form__confirmation">Confirmation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#form__marriage">Marriage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#form__profession-of-faith">Profession of Faith</a>
      </li>
    </ul>
    <form>
      <div id="form__inputs" class="tab-content"></div>
      <div id="form__options">
        <button id="form__create-button" class="btn" title="Create">
          <span class="material-icons">person_add</span>
        </button>
        <button id="form__update-button" class="btn" title="Update">
          <span class="material-icons">sync</span>
        </button>
        <button id="form__list-certificates-button" class="btn" type="button" title="List Certificates">
          <span class="material-icons">folder_open</span>
        </button>
        <button id="form__cancel-button" class="btn" type="button" title="Cancel">
          <span class="material-icons">backspace</span>
        </button>
      </div>
    </form>
    <script src="scripts/form.js"></script>
  </section>
</template>
