<template>
  <div id="form__profile" class="tab-pane active fade show" role="tabpanel">
    <div class="row">
      <div class="col">
        <div class="form-group">
        <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
        <small class="form-text text-muted">Middle name can be included here as well</small>
      </div>
    </div>
      <div class="col">
        <div class="form-group">
        <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
      </div>
    </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="sex-f" class="custom-control-input" type="radio" name="sex" value="F" checked="true">
        <label class="custom-control-label" for="sex-f">Female</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input id="sex-m" class="custom-control-input" type="radio" name="sex" value="M">
        <label class="custom-control-label" for="sex-m">Male</label>
      </div>
    </div>
    <div class="form-group">
      <input type="date" class="form-control" name="birthdate" placeholder="Birthday" title="Birthday" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="birth_city" placeholder="Birth City">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="home_address_line_1" placeholder="Home Address 1" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="home_address_line_2" placeholder="Home Address 2">
      <small class="form-text text-muted">Apartment, suite, unit, building, floor, etc.</small>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
        <input type="text" class="form-control" name="city" placeholder="City" required>
      </div>
    </div>
      <div class="col">
        <div class="form-group">
        <input type="text" class="form-control" name="region" placeholder="Region">
      </div>
    </div>
      <div class="col">
        <div class="form-group">
        <input type="text" class="form-control" name="zip_code" placeholder="Zip Code" required>
      </div>
    </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="mother" placeholder="Mother">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="father" placeholder="Father">
    </div>
    <div class="form-group">
      <textarea class="form-control" name="comments" placeholder="Comments"></textarea>
    </div>
  </div>
</template>
