<template>
  <div id="form__profession-of-faith" class="tab-pane fade" role="tabpanel">
    <div class="form-group">
      <input type="date" class="form-control" name="profession_of_faith_date" placeholder="Profession of Faith Date" title="Profession of Faith Date">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="profession_of_faith_church" placeholder="Profession of Faith Church">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="profession_of_faith_presider" placeholder="Presider">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="profession_of_faith_sponsor_1" placeholder="Sponsor 1">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="profession_of_faith_sponsor_2" placeholder="Sponsor 2">
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" name="profession_of_faith_volume" placeholder="Volume">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" name="profession_of_faith_page" placeholder="Section">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" name="profession_of_faith_number" placeholder="Line">
        </div>
      </div>
    </div>
  </div>
</template>
