<template>
  <div id="form__profession-of-faith" class="tab-pane" role="tabpanel">
    <div class="form-group">
      <input type="date" class="form-control" placeholder="Profession of Faith Date" title="Profession of Faith Date">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Profession of Faith Church">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Presider">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Sponsor 1">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Sponsor 2">
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" placeholder="Volume">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" placeholder="Section">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" min="0" placeholder="Line">
        </div>
      </div>
    </div>
  </div>
</template>
