<template>
  <section id="certificate">
    <style>
      #certificate {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      #certificate * {
        margin: 0;
      }
      #certificate h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }
      #certificate h2 {
        font-size: 1.5rem;
      }
      #certificate__content {
        display: inline-block;
      }
      #certificate__content * {
        font-size: 1rem;
        line-height: 2;
      }
      #certificate__text {
        margin: 1.5rem 0;
      }
      #certificate__signature-area {
        align-items: flex-end;
        display: flex;
      }
      #certificate__signature-line {
        border-bottom: 1px solid;
        cursor: pointer;
        flex-grow: 1;
        margin: 0 0.4rem;
        min-height: 30px;
        min-width: 300px;
      }
      #certificate__signature-line img {
        width: 250px;
      }
      #certificate__id {
        bottom: 1rem;
        font-size: 0.8rem;
        left: 1rem;
        position: absolute;
      }
      #certificate__options {
        bottom: 1rem;
        position: absolute;
        right: 1rem;
      }
    </style>
    <div id="certificate__container">
      <div id="certificate__header">
        <h1>Certificate of</h1>
        <div id="certificate__address">
          <h2>Cathedral of Our Lady of the Angels</h2>
          <h2>555 West Temple St.</h2>
          <h2>Los Angeles, CA 90012</h2>
        </div>
      </div>
      <div id="certificate__content">
        <div id="certificate__text" contenteditable="true">
          <p>This is to certify that</p>
        </div>
        <div id="certificate__signature-area">
          <span id="certificate__date" contenteditable="true">Dated</span>
          <span id="certificate__signature-line" title="Add a signature"></span>
          <span contenteditable="true">Pastor</span>
        </div>
        <span id="certificate__id">0</span>
      </div>
    </div>
    <div id="certificate__options">
      <button id="certificate__print-button" class="btn btn-outline-primary">Print</button>
      <button id="certificate__go-back-button" class="btn btn-outline-secondary">Go Back</button>
    </div>
    <script src="scripts/certificate.js"></script>
  </section>
</template>
