<template>
  <section id="settings">
    <div class="accordion" id="settings__container">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#settings__general">
              General
            </button>
          </h2>
        </div>
        <div id="settings__general" class="collapse show" data-parent="#settings__container">
          <div class="card-body">...</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#settings__pre-configured-data">
              Pre-configured Data
            </button>
          </h2>
        </div>
        <div id="settings__pre-configured-data" class="collapse" data-parent="#settings__container">
          <div class="card-body">...</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#settings__signatures">
              Signatures
            </button>
          </h2>
        </div>
        <div id="settings__signatures" class="collapse" data-parent="#settings__container">
          <div class="card-body">...</div>
        </div>
      </div>
    </div>
  </section>
</template>
