nav {
  background: #2780e3;
  display: inline-flex !important;
  flex-flow: column;
  height: 100%;
}

nav .nav-item,
nav .nav-item:hover {
  align-items: center;
  color: #fff;
  display: flex;
  height: 54px;
  justify-content: center;
  width: 54px;
}

.space {
  display: flex;
  flex-grow: 1;
}
