body {
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
}

#app {
  display: flex;
  height: 100%;
}
